* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

svg {
  max-width: 100%;
  margin-bottom: -1px;
}

.jumbotron {
  padding-top: 5rem;
  background-color: #e2edff;
}

.nav {
  border-bottom-left-radius: 20px;
}
.nav:hover {
  color: black;
  transition: 1s;
}

#projek {
  background-color: #e2edff;
}

.svg {
  margin-bottom: -1px;
  border-bottom: px solid rgb(255, 255, 255);
}
